#header_bar{
    float: right;
    margin-top: 1px;
}
#search_bar{
                
}
#side_bar{
    
}
#menu_icon{
    margin-right: 10px;
}
#home_icon{
    margin-right: 5px;
}
#trending_icon{
    margin-right:10px;
}
#subscription_icon{
    margin-right: 10px;
}
#searchbox{
    width: 700px;
    border-radius: 5px;
}
.searchitem{
    text-align: center;
    
}
#gif1{
    margin-left: 150px;
}
#gif2{
    margin-left: 50px;
}
#gif3{
    margin-left: 50px;
}
#gif4{
    margin-left: 50px;
}