#header_bar{
    float: right;
    margin-top: 1px;
}
#search_bar{
                  
}
#side_bar{
    
}
#menu_icon{
    margin-right: 10px;
}
#home_icon{
    margin-right: 5px;
}
#trending_icon{
    margin-right:10px;
}
#subscription_icon{
    margin-right: 10px;
}